<header>
  <h1>Liste des sessions de formation </h1>

  <p class="description">Suivre les sessions auquelles je veux participer.</p>
</header>

<section>
  <app-session-it *ngFor="let sessionItem of sessionItems" [session]="sessionItem" [ngClass]="{'session-web' : sessionItem.name === 'Web', 
  'session-mobile': sessionItem.name === 'Mobile'}">
  </app-session-it>
</section>

<footer>
  <a routerLink="/admin" routerLinkActive="active">
    <img src="assets/admin3.png" class="icon" alt="tête administrateur" />
  </a>
</footer>
